<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>paydro3</title>

    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="code/jquery-3.3.1.min.js"></script>

</head>
<body>

		<!-- Ensure JavaScript -->
    <noscript>
        <div class="noscript">You must enable JavaScript in your browser settings in order to participate in this game.</div>
    </noscript>

		<!-- RequireJS -->
    <script data-main="code/Main.js" src="requirejs/require.js"></script>

		<div id="main">

			<div id="intro" class="container">

				<div class="text-piece">
					<h1>paydro3</h1>
					<h4>the official guide</h4>
				</div>

			</div>

			<div id="version-piece">
			</div>

			<div id="paydro-title" class="corner-icon bottom left">
				<p>paydro3</p>
			</div>

		</div>

</body>
</html>
